{% extends 'base.html' %} {% load static %} {% comment %} fsmhmsfshrhh
{%endcomment %} {% block metatags %}{% for home in homes %}
<meta name="description" content="{{home.description |safe}}" />
<meta name="keywords" content="{{home.keyword |safe}}" />
<meta name="author" content="Parkash Satiyaar" />
{% endfor %}{% endblock metatags %} {% block title %} {% for home in homes %}
Change Password - {{home.title}} {% endfor %} {% endblock title %} {%block content %}
{%comment%} dgdg {% endcomment %} {% include 'includes/navbar.html' %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <!--   SIDEBAR   -->
        <ul class="list-group">
          <a class="list-group-item" href="{% url 'dashboard' %}"> Dashboard </a>
          <a class="list-group-item" href="{% url 'my_orders' %}"> My Orders </a>
          <a class="list-group-item"  href="{% url 'edit_profile' %}">Edit Profile</a>
          <a class="list-group-item  {% if '/change_password/' in request.path %}bg-dark text-light{% endif %}"  " href="{% url 'change_password' %}"> Change Password </a>
        </ul>
        <br />
        <a class="btn btn-light btn-block" href="{% url 'signout' %}">
          <i class="fa fa-power-off"></i> <span class="text">Log out</span>
        </a>
        <!--   SIDEBAR .//END   -->
      </aside>
      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">Change Password</strong>
          </header>
          {% include 'messages.html' %}
          <div class="card-body">
            <div class="row">
              <form action="{% url 'change_password' %}" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="form-group text-center col-md-6 my-3">
                    <label>Current Password</label>
                    <input required type="password" name="current_password" class="form-control"/>
                </div>
                <div class="form-group text-center col-md-6 my-3">
                    <label>New Password</label>
                    <input required type="password" class="form-control" name="new_password"/>
                  </div>
                  <div class="row">
                  <div class="form-group col-md-3 text-center mx-auto my-2">
                    <input type="submit" placeholder="save" value="save" class="mybtn form-control"/>
                </div>
            </div>
              </form>
            </div>
            </div>
            <!-- row.// -->
          </div>
          <!-- card-body .// -->
        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% include 'includes/footer.html' %} {% endblock content %}
