{% extends 'base.html' %} {% load static %} {% comment %} fsmhmsfshrhh
{%endcomment %} {% block metatags %}{% for home in homes %}
<meta name="description" content="{{home.description |safe}}" />
<meta name="keywords" content="{{home.keyword |safe}}" />
<meta name="author" content="Parkash Satiyaar" />
{% endfor %}{% endblock metatags %} {% block title %} {% for home in homes %}
Dashboard - {{home.title}} {% endfor %} {% endblock title %} {%block content %}
{%comment%} dgdg {% endcomment %} {% include 'includes/navbar.html' %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <!--   SIDEBAR   -->
        <ul class="list-group">
          <a class="list-group-item {% if '/accounts/' in request.path %}bg-dark text-light{% endif %}" href="{% url 'dashboard' %}"> Dashboard </a>
          <a class="list-group-item" href="{% url 'my_orders' %}"> My Orders </a>
          <a class="list-group-item" href="{% url 'edit_profile' %}">Edit Profile</a>
          <a class="list-group-item" href="{% url 'change_password' %}"> Change Password </a>
        </ul>
        <br />
        <a class="btn btn-light btn-block" href="{% url 'signout' %}">
          <i class="fa fa-power-off"></i> <span class="text">Log out</span>
        </a>
        <!--   SIDEBAR .//END   -->
      </aside>
      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">Logged In as:</strong>
            <span>{{user.first_name}} {{user.last_name}}</span>
          </header>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="card text-center">
                  <div class="card-body">
                    <h5>Total Orders</h5>
                    <h5>{{orders_count}}</h5>
                    <a href="{% url 'my_orders' %}">View Orders</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card text-center">
                  <div class="card-body">
                    {% if userprofile.profile_picture.url %}
                    <img src="{{userprofile.profile_picture.url}}"" width="150px" style="border-radius: 50%;" alt="profile">
                    {% endif %}
                    <p class="mb-0">{{user.email}}</p>
                    <p>{{user.phone_number}}</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- row.// -->
          </div>
          <!-- card-body .// -->
        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% include 'includes/footer.html' %} {% endblock content %}
