{% extends 'base.html' %} {% load static %} {% comment %} fsmhmsfshrhh
{%endcomment %} {% block metatags %}{% for home in homes %}
<meta name="description" content="{{home.description |safe}}" />
<meta name="keywords" content="{{home.keyword |safe}}" />
<meta name="author" content="Parkash Satiyaar" />
{% endfor %}{% endblock metatags %} {% block title %} {% for home in homes %}
Home - {{home.title}} {% endfor %} {% endblock title %} {%block content %}
{%comment%} dgdg {% endcomment %} {% include 'includes/navbar.html' %}

<main class="main-content">
  <!--== Start Account Area Wrapper ==-->
  <section class="account-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 m-auto">
          <div class="account-form-wrap">
            <!--== Start Login Form ==-->
            <div class="login-form">
              <div class="content">
                <h5>Enter your email for reset password</h5>
              </div>
              {% include 'messages.html' %}
              <form
                id="forgetPassword"
                action="{% url 'forgot_password' %}"
                method="post"
              >
                {% csrf_token %}
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="email"
                        placeholder="Email"
                        name="email"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="login-form-group">
                      <button class="btn-sign" type="submit">Send Link</button>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="account-optional-group">
                      <a class="btn-create" href="{% url 'signin' %}"
                        >Got password? Signin</a
                      >
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!--== End Login Form ==-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Account Area Wrapper ==-->
</main>

{% include 'includes/footer.html' %} {% endblock content %}
