{% extends 'base.html' %} {% load static %} {%block metatags %} {% comment %}
fhssfhshs {% endcomment %} {% for product in singleProduct %}
<meta name="description" content="{{product.productSiteDescription}}" />
<meta name="keywords" content="{{product.productKeyword}}" />
<meta name="author" content="Parkash Satiyaar" />
{% endfor %}{% endblock metatags %} {% block title %} {%comment%}
dgdgaddgkdnfgae {% endcomment %} {% for product in singleProduct %}
{{product.productTitle}} {% endfor %} {% endblock title %} {%block content %}
{%include 'includes/navbar.html' %}
<main class="main-content">
  <!--== Start Page Header Area Wrapper ==-->
  <div class="page-header-area">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="page-header-content">
            <nav class="breadcrumb-area">
              <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-sep">/</li>
                <li>Product Details</li>
              </ul>
            </nav>
            <h4 class="title">Product Details</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--== End Page Header Area Wrapper ==-->

  <!--== Start Product Single Area Wrapper ==-->
  <section class="product-area product-single-area">
    <div class="container pt-60 pb-0">
      <div class="row">
        <div class="col-12">
          {% for product in singleProduct %}
          <div class="product-single-item" data-margin-bottom="63">
            <div class="row">
              <div class="col-lg-6">
                <!--== Start Product Thumbnail Area ==-->
                <div class="product-thumb">
                  <div class="swiper-container single-product-thumb-slider">
                    <div class="swiper-wrapper">
                    {% for product in productGallery %}
                      <div class="swiper-slide">
                        <div class="zoom zoom-hover">
                          <a
                            class="lightbox-image"
                            data-fancybox="gallery"
                            href="{{product.image.url}}"
                          >
                            <img
                              src="{{product.image.url}}"
                              alt="Image-HasTech"
                            />
                          </a>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <!--== End Product Thumbnail Area ==-->

                <!--== Start Product Nav Area ==-->
                <div
                  class="swiper-container single-product-nav-slider product-nav"
                >
                  <div class="swiper-wrapper">
                    {% for product in productGallery %}
                    <div class="swiper-slide">
                      <img
                        src="{{product.image.url}}"
                        alt="Image-HasTech"
                      />
                    </div>
                    {% endfor %}
                  </div>

                  <!--== Add Swiper navigation Buttons ==-->
                  <div class="swiper-button-prev">
                    <i class="fas fa-arrow-left"></i>
                  </div>
                  <div class="swiper-button-next">
                    <i class="fas fa-arrow-right"></i>
                  </div>
                </div>
                <!--== End Product Nav Area ==-->
              </div>
              <div class="col-lg-6">
                <!--== Start Product Info Area ==-->
                <div class="product-single-info">
                  <h4 class="title">{{product.productTitle}}</h4>
                  <div class="prices">
                    <span class="price">${{product.ProductPrice}}</span>
                  </div>
                  <p>{{product.productDescription|safe}}</p>
                  <form action="{% url 'addCart' product.id %}" method="post">
                    {% csrf_token %}
                    <div class="product-select-action">
                      <div class="select-item">
                        <label for="productSizeSelect">Size</label>
                        <select
                          class="form-select"
                          id="productSizeSelect"
                          name="size"
                          aria-label="Size select example"
                        >
                          {% for i in product.variation_set.all %}
                          <!-- lopping -->
                          {%if i.variationCategory == "size" %}
                          <option value="{{i.variationValue}}">
                            {{i.variationValue}}
                          </option>
                          {% endif %} {% endfor %}
                        </select>
                      </div>
                      <div class="select-item">
                        <label for="productColorSelect">Color</label>
                        <select
                          class="form-select"
                          id="productColorSelect"
                          name="color"
                          aria-label="Color select example"
                        >
                          {% for i in product.variation_set.all %}
                          <!-- lopping -->
                          {% if i.variationCategory == "color" %}
                          <option value="{{i.variationValue}}">
                            {{i.variationValue}}
                          </option>
                          {% endif %} {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="product-action-simple">
                      {% if product.productStock > 0 %}                    
                      <div class="payment-button pb-3">
                      {% if product.productStock < 10 %}
                      <h6 class="text-warning pb-3">
                        Hurry, only {{product.productStock}} left in Stock !
                      </h6>
                      {% else %}
                      <h6 class="text-dark pb-3">
                        {{product.productStock}} Items in Stock !
                      </h6>

                      {% endif %}
                      <div class="product-quick-action">
                        <button
                          type="submit"
                          class="mybtn"
                        >
                          Add to cart
                        </button>
                      </div> {% else %}
                      <div class="payment-button pb-3">
                        <h5 class="text-danger">Out of Stock !</h5>
                      </div>
                      {% endif %}
                    </div>
                  </form>
                </div>
                <!--== End Product Info Area ==-->
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!--== End Product Single Area Wrapper ==-->

  <!--== Start Product Area Wrapper ==-->
  <section class="product-area product-new-arrivals-area product-related-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 m-auto">
          <div class="section-title text-center">
            <h2 class="title">Related Products</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div
            class="swiper-container swiper-slide-gap product-slider-container"
          >
            <div class="swiper-wrapper">
              {% for product in products %}
              <div class="swiper-slide">
                <!--== Start Shop Item ==-->
                <div class="product-item">
                  <div class="inner-content">
                    <div class="product-thumb">
                      <a href="{% url 'products' %}{{product.productSlug}}">
                        <img
                          class="w-100"
                          src="{{product.productImage.url}}"
                          alt="Image-HasTech"
                        />
                      </a>
                      {% if product.productStock > 0 %}
                      <div class="product-action">
                        <div class="addto-wrap">
                          <a
                            class="add-cart"
                            href="{% url 'addCart' product.id %}"
                          >
                          </a>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                    <div class="product-desc">
                      <div class="product-info">
                        <h4 class="title">
                          <a href="{% url 'products' %}{{product.productSlug}}"
                            >{{product.productTitle}}</a
                          >
                        </h4>
                        <div class="prices">
                          <span class="price">${{product.ProductPrice}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--== End Shop Item ==-->
              </div>
              {% endfor %}
            </div>

            <!--== Add Swiper navigation Buttons ==-->
            <div class="swiper-button-prev">
              <i class="fas fa-arrow-left"></i>
            </div>
            <div class="swiper-button-next">
              <i class="fas fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Product Area Wrapper ==-->
</main>
{% include 'includes/footer.html' %} {% endblock content %}
