{% extends 'base.html' %} {% load static %} {% comment %} fsmhmsfshrhh
{%endcomment %} {% block metatags %}{% for home in homes %}
<meta name="description" content="{{home.description |safe}}" />
<meta name="keywords" content="{{home.keyword |safe}}" />
<meta name="author" content="Parkash Satiyaar" />
{% endfor %}{% endblock metatags %} {% block title %} {% for home in homes %}
Signup - {{home.title}} {% endfor %} {% endblock title %} {%block content %}
{%comment%} dgdg {% endcomment %} {% include 'includes/navbar.html' %}
<main class="main-content">
  <!--== Start Page Header Area Wrapper ==-->
  <div class="page-header-area">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="page-header-content">
            <nav class="breadcrumb-area">
              <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-sep">/</li>
                <li>Signup</li>
              </ul>
            </nav>
            <h4 class="title">Signup</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--== End Page Header Area Wrapper ==-->

  <!--== Start Account Area Wrapper ==-->
  <section class="account-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 m-auto">
          <div class="account-form-wrap">
            <!--== Start Login Form ==-->
            <div class="login-form">
              <div class="content">
                <h4 class="title">Signup</h4>
                <p>Please Signup using account detail bellow.</p>
                {% include 'messages.html' %}
              </div>
              <form id="signup" action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                <div class="row justify-content-center">
                  <div class="col-12 row">
                    <div class="form-group col-6">{{form.first_name}}</div>
                    <div class="form-group col-6">{{form.last_name}}</div>
                    <div class="form-group col-12">{{form.email}}</div>
                    <div class="form-group col-6">{{form.phone_number}}</div>
                    <div class="form-group col-6">{{form.password}}</div>
                  </div>

                  <div class="col-12">
                    <div class="login-form-group">
                      <button class="btn-sign" onclick="mySubmit('signin')">
                        Sign Up
                      </button>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="account-optional-group">
                      <span class="small">Already have an Account?</span>
                      <a class="btn-create" href="{% url 'signin' %}">Signin</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!--== End Login Form ==-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Account Area Wrapper ==-->
</main>

{% include 'includes/footer.html' %} {% endblock content %}
