{% extends 'base.html' %} {% load static %} {% comment %} fsmhmsfshrhh
{%endcomment %} {% block metatags %}{% for home in homes %}
<meta name="description" content="{{home.description |safe}}" />
<meta name="keywords" content="{{home.keyword |safe}}" />
<meta name="author" content="Parkash Satiyaar" />
{% endfor %}{% endblock metatags %} {% block title %} {% for home in homes %}
Payment - {{home.title}} {% endfor %} {% endblock title %} {%block content %}
{%comment%} dgdg {% endcomment %} {% include 'includes/navbar.html' %}
<section class="section-content padding-y bg">
	<div class="container">

		<!-- ============================ COMPONENT 1 ================================= -->
		<h4 class="text-center mb-20">Review Your Order and Make Payment</h4>
		<div class="row">

			<aside class="col-lg-8">
				<div class="card">
					<h5 class="card-header">Billing Address</h5>
					<div class="card-body">
						<p class="card-text mb-0">{{order.full_name}}</p>
						<p class="card-text mb-0">{{order.full_address}}</p>
						<p class="card-text mb-0">{{order.city}}, {{order.state}}</p>
						<p class="card-text mb-0">{{order.country}}</p>
						<p class="card-text mb-0">{{order.email}}</p>
						<p class="card-text mb-0">{{order.phone}}</p>
						{% if order.order_note %}
						<b>Order Note: </b> {{order.order_note}}
						{% endif %}


					</div>
				</div>
				<div class="card">
					<h5 class="card-header">Payment Method</h5>
					<div class="card-body">
						<p class="card-text">PayPal</p>

					</div>
				</div>
				<div class="card">
					<h5 class="card-header">Review Products</h5>
					<div class="card-body">
                        <div class="shopping-cart-wrap">
                            <div class="cart-table table-responsive">
                              {% if cartItems %}
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th class="indecor-product-remove">Remove</th>
                                    <th class="indecor-product-thumbnail">Image</th>
                                    <th class="indecor-product-name">Product</th>
                                    <th class="indecor-product-price">Price</th>
                                    <th class="indecor-product-quantity">Quantity</th>
                                    <th class="indecor-product-subtotal">Sub Total</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for product in cart_items %}
                                  <tr>
                                    <td class="indecor-product-remove">
                                      <a
                                        href="{% url 'deleteCartItem' product.product.id %}?color={{product.itemColor}}&size={{product.itemSize}}"
                                        ><i class="fa fa-times"></i
                                      ></a>
                                    </td>
                                    <td class="indecor-product-thumbnail">
                                      <a href="{% url 'product' product.product.productSlug %}"
                                        ><img
                                          src="{{product.product.productImage.url}}"
                                          alt="Image-HasTech"
                                      /></a>
                                    </td>
                                    <td class="indecor-product-name">
                                      <h4 class="h6">{{product.product.productTitle}}</h4>
                                      <span class="h6 mr-2">Color:</span
                                      ><mark>{{product.itemColor}}</mark>
                                      <span class="h6 mr-2">Size:</span
                                      ><mark>{{product.itemSize}}</mark>
                                    </td>
                                    <td class="indecor-product-price">
                                      <span class="price"
                                        >${{product.product.ProductPrice}}</span
                                      >
                                    </td>
                                    <td class="indecor-product-quantity">
                                      <div class="form">
                                        <form
                                          action="{% url 'updateCart' product.product.id %}"
                                          id="{{product.product.id}}"
                                        >
                                          <input
                                            type="hidden"
                                            name="color"
                                            value="{{product.itemColor}}"
                                          />
                                          <input
                                            type="hidden"
                                            name="size"
                                            value="{{product.itemSize}}"
                                          />
                                          <input
                                            type="text"
                                            id="quantity"
                                            title="Quantity"
                                            name="quantity"
                                            class="form-control text-center"
                                            value="{{product.quantity}}"
                                          />
                                        </form>
                                      </div>
                                      <div class="coupon2">
                                        <button
                                          class="mybtn m-2"
                                          type="button"
                                          onclick="mySubmit({{product.product.id}})"
                                          class="button"
                                        >
                                          Update
                                        </button>
                                      </div>
                                    </td>
                                    <td class="product-subtotal">
                                      <span class="price">${{product.subTotal}}</span>
                                    </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                              {% else %}
                              <div class="coupon text-center">
                                <h3>
                                  <span class="h1">!</span> Oops, please purchase something...
                                </h3>
                              </div>
                              {% endif %}
                            </div>
                            <div class="row">
                              <div class="col-md-12 col-lg-7 col-12">
                                <div class="coupon-all">
                                  <div class="coupon">
                                    <a class="button" href="{% url 'products' %}"
                                      >Continue Shopping</a
                                    >
                                    {% if cartItems %}
                                    <a class="button" href="{% url 'deleteCart' %}"
                                      >Clear Cart</a
                                    >
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
				</div>

			</aside> <!-- col.// -->
			<aside class="col-lg-4">

				<div class="card">
					<div class="card-body text-center">
						<dl class="dlist-align">
                            <dt>Total Price: <span class="bold px-1 text-dark">${{total}}</span></dt>
                          </dl>
                          <dl class="dlist-align">
                            <dt>Tax: <span class="px-1 text-danger">${{tax}}</span></dt>
                          </dl>
                          <dl class="dlist-align">
                            <dt>Price: <span class="px-1 text-success">${{grandTotal}}</span></dt>
                          </dl>
						<hr>


						<div id="paypal-button-container">
							<!-- PayPal Button Will Load -->
						</div>

					</div> <!-- card-body.// -->
				</div> <!-- card.// -->

			</aside> <!-- col.// -->


		</div> <!-- row.// -->

		<!-- ============================ COMPONENT 1 END .// ================================= -->

	</div> <!-- container .//  -->
</section>

{% include 'includes/footer.html' %} 


<script>


function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

  // Render the PayPal button into #paypal-button-container

  var amount="{{grandTotal}}"
  var url= "{% url 'payments' %}"
  var csrftoken = getCookie('csrftoken');
  var orderID = "{{order.order_number}}"
	var payment_method = 'PayPal'
  var redirect_url = "{% url 'order_complete' %}"
  paypal.Buttons({
      // design
      style: {
            color:  'blue',
            shape:  'pill',
            label:  'pay',
            height: 40
        }
, 
      // Set up the transaction
      createOrder: function(data, actions) {
          return actions.order.create({
              purchase_units: [{
                  amount: {
                      value: amount
                  }
              }]
          });
      },

      // Finalize the transaction
      onApprove: function(data, actions) {
          return actions.order.capture().then(function(orderData) {
              // Successful capture! For demo purposes:
              sendData();
              function sendData(){
                fetch(url, {
                  method:"POST",
                  headers:{
                    "content-type":"application/json",
                    "X-CSRFToken":csrftoken,
                  },
                  body:JSON.stringify({
							orderID: orderID,
							transID: orderData.id,
							payment_method: payment_method,
							status: orderData.status,
						}),
                }).then(response=>response.json()).then(data=>{
						window.location.href = redirect_url + '?order_number='+data.order_number+'&payment_id='+data.transID;
					});
              }
              
              // Replace the above to show a success message within this page, e.g.
              // const element = document.getElementById('paypal-button-container');
              // element.innerHTML = '';
              // element.innerHTML = '<h3>Thank you for your payment!</h3>';
              // Or go to another URL:  actions.redirect('thank_you.html');
          });
      }


  }).render('#paypal-button-container');
</script>    


{% endblock content %}
