{% extends 'base.html' %} {% load static %} {% comment %} fsmhmsfshrhh
{%endcomment %} {% block metatags %}{% for home in homes %}
<meta name="description" content="{{home.description |safe}}" />
<meta name="keywords" content="{{home.keyword |safe}}" />
<meta name="author" content="Parkash Satiyaar" />
{% endfor %}{% endblock metatags %} {% block title %} {% for home in homes %}
Products - {{home.title}} {% endfor %} {% endblock title %} {%block content %}
{%comment%} dgdg {% endcomment %} {% include 'includes/navbar.html' %}
<main class="main-content">
  <!--== Start Page Header Area Wrapper ==-->
  <div class="page-header-area">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="page-header-content">
            <nav class="breadcrumb-area">
              <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-sep">/</li>
                <li>Products</li>
              </ul>
            </nav>
            <h4 class="title">Products</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--== End Page Header Area Wrapper ==-->

  <!--== Start Product Area Wrapper ==-->
  <section class="product-area product-inner-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div
            class="
              product-header-wrap
              d-md-flex
              justify-content-md-between
              align-items-center
            "
          >
            <div class="grid-list-option">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button
                    class="nav-link active"
                    id="nav-grid-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-grid"
                    type="button"
                    role="tab"
                    aria-controls="nav-grid"
                    aria-selected="true"
                  >
                    <i class="fa fa-th"></i>
                  </button>
                  <button
                    class="nav-link"
                    id="nav-list-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-list"
                    type="button"
                    role="tab"
                    aria-controls="nav-list"
                    aria-selected="false"
                  >
                    <i class="fa fa-th-list"></i>
                  </button>
                </div>
              </nav>
            </div>
            <div class="nav-short-area d-md-flex align-items-center"></div>
          </div>
          <div class="product-body-wrap">
            <div class="tab-content" id="nav-tabContent">
              <div
                class="tab-pane fade show active"
                id="nav-grid"
                role="tabpanel"
                aria-labelledby="nav-grid-tab"
              >
                <div class="row">
                  {% if products %} {% for product in products %}
                  <div class="col-sm-6 col-xl-4">
                    <!--== Start Shop Item ==-->
                    <div class="product-item">
                      <div class="inner-content">
                        <div class="product-thumb">
                          <a href="{% url 'products' %}{{product.productSlug}}">
                            <img
                              class="w-100"
                              src="{{product.productImage.url}}"
                              alt="Image-HasTech"
                            />
                          </a>
                          {% if product.productStock > 0 %}
                          <div class="product-action">
                            <div class="addto-wrap">
                              <a
                                class="add-cart"
                                href="{% url 'addCart' product.id %}"
                              >
                                <i
                                  class="zmdi zmdi-shopping-cart-plus icon"
                                ></i>
                              </a>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                        <div class="product-desc">
                          <div class="product-info">
                            <h4 class="title">
                              <a href="{{product.productSlug}}">
                                {{product.productTitle}}</a
                              >
                            </h4>
                            <div class="prices">
                              <span class="price"
                                >${{product.ProductPrice}}</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--== End Shop Item ==-->
                  </div>
                  {% endfor %} {% else %}
                  <div class="coupon text-center">
                    <h3><span class="h1">!</span> Sorry, We find nothing...</h3>
                  </div>
                  {% endif %}
                </div>
                <!--== Start Pagination Wrap ==-->
                <div class="row">
                  <div class="col-12">
                    <div class="pagination-content-wrap border-top">
                      {% if products.has_other_pages %}
                      <nav class="pagination-nav">
                        <ul class="pagination justify-content-center">
                          <li>
                            {% if products.has_previous %}
                            <a
                              class="active prev"
                              href="?page={{products.previous_page_number}}"
                              >Prev</a
                            >
                            {% else %}
                            <a class="disabled prev" href="#">Prev</a>
                            {% endif %}
                          </li>
                          {% if products.number|add:'-1' > 1 %}
                          <li>
                            <a href="?page={{ products.number|add:'-2' }}"
                              >&hellip;</a
                            >
                          </li>
                          {% endif %}
                          <!-- dgsrhsj -->
                          {% for i in products.paginator.page_range%}

                          <li>
                            {%if products.number == i %}
                            <a class="active" href="#">{{products.number}}</a>
                            {% elif i > products.number|add:'-1' and i < products.number|add:'1' %}
                             <li><a class="next" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                          </li>
                          {% endfor %}
                          <!-- srhts -->
            {% if products.paginator.num_pages > products.number|add:'1'%}
                          <li>
                            <a href="?page={{ page_obj.number|add:'2' }}"
                              >&hellip;</a
                            >
                          </li>
                          {% endif %}
                          <li>
                            {% if products.has_next %}
                            <a
                              class="next"
                              href="?page={{products.next_page_number}}"
                              >Next</a
                            >
                            {% else %}
                            <a class="disabled next" href="#">Next</a>
                            {% endif %}
                          </li>
                        </ul>
                      </nav>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <!--== End Pagination Wrap ==-->
              </div>
              <div
                class="tab-pane fade"
                id="nav-list"
                role="tabpanel"
                aria-labelledby="nav-list-tab"
              >
                <div class="row">
                  {% if products %} {% for product in products %}
                  <div class="col-12">
                    <!--== Start Shop Item ==-->
                    <div class="product-item product-item-list">
                      <div class="inner-content">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="product-thumb">
                              <a
                                href="{% url 'products' %}{{product.productSlug}}"
                              >
                                <img
                                  class="w-100"
                                  src="{{product.productImage.url}}"
                                  alt="Image-HasTech"
                                />
                              </a>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="product-desc">
                              <div class="product-info">
                                <h4 class="title">
                                  <a
                                    href="{% url 'products' %}{{product.productSlug}}"
                                  >
                                    {{product.productTitle}}</a
                                  >
                                </h4>
                                <div class="prices">
                                  <span class="price"
                                    >${{product.ProductPrice}}</span
                                  >
                                </div>
                                <p class="limit-text">
                                  {{product.productSiteDescription|truncatechars:200}}
                                </p>
                                {% if product.productStock > 0 %}
                                <div class="product-action">
                                  <div class="addto-wrap">
                                    <a
                                      class="add-cart"
                                      href="{% url 'addCart' product.id %}"
                                    >
                                      <i
                                        class="
                                          zmdi zmdi-shopping-cart-plus
                                          icon
                                        "
                                      ></i>
                                    </a>
                                  </div>
                                </div>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--== End Shop Item ==-->
                  </div>

                  {% endfor %} {% else %}
                  <div class="coupon text-center">
                    <h3><span class="h1">!</span> Sorry, We find nothing...</h3>
                  </div>
                  {% endif %}
                </div>
                <!--== Start Pagination Wrap ==-->
                <div class="row">
                  <div class="col-12">
                    <div class="pagination-content-wrap border-top">
                      {% if products.has_other_pages %}
                      <nav class="pagination-nav">
                        <ul class="pagination justify-content-center">
                          <li>
                            {% if products.has_previous %}
                            <a
                              class="active prev"
                              href="?page={{products.previous_page_number}}"
                              >Prev</a
                            >
                            {% else %}
                            <a class="disabled prev" href="#">Prev</a>
                            {% endif %}
                          </li>
                          {% if products.number|add:'-1' > 1 %}
                          <li>
                            <a href="?page={{ products.number|add:'-2' }}"
                              >&hellip;</a
                            >
                          </li>
                          {% endif %}
                          <!-- dgsrhsj -->
                          {% for i in products.paginator.page_range%}

                          <li>
                            {%if products.number == i %}
                            <a class="active" href="#">{{products.number}}</a>
                            {% elif i > products.number|add:'-1' and i < products.number|add:'1' %}
                             <li><a class="next" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                          </li>
                          {% endfor %}
                          <!-- srhts -->
            {% if products.paginator.num_pages > products.number|add:'1'%}
                          <li>
                            <a href="?page={{ page_obj.number|add:'2' }}"
                              >&hellip;</a
                            >
                          </li>
                          {% endif %}
                          <li>
                            {% if products.has_next %}
                            <a
                              class="next"
                              href="?page={{products.next_page_number}}"
                              >Next</a
                            >
                            {% else %}
                            <a class="disabled next" href="#">Next</a>
                            {% endif %}
                          </li>
                        </ul>
                      </nav>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <!--== End Pagination Wrap ==-->

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <!--== Start Product Sidebar Wrapper ==-->
          <div class="product-sidebar-wrapper">
            <!--== Start Product Sidebar Item ==-->
            <div class="product-sidebar-item">
              <h4 class="product-sidebar-title">Search</h4>
              <div class="product-sidebar-body">
                <div class="product-sidebar-search-form">
                  <form action="{% url 'products' %}">
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="search"
                        placeholder="Search our store"
                        name="searchKeyword"
                      />
                      <button type="submit" class="btn-src">
                        <i class="zmdi zmdi-search"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!--== End Product Sidebar Item ==-->

            <!--== Start Sidebar Item ==-->
            <div class="product-sidebar-item">
              <h4 class="product-sidebar-title">Custom Menu</h4>
              <div class="product-sidebar-body">
                <div class="product-sidebar-nav-menu">
                  <a href="{% url 'home' %}">Home</a>
                  <a href="{% url 'products' %}">Products</a>
                  <a href="{% url 'contact' %}">Contact</a>
                  <a href="{% url 'about' %}">About</a>
                </div>
              </div>
            </div>
            <!--== End Sidebar Item ==-->

            <!--== Start Sidebar Item ==-->
            <div class="product-sidebar-item">
              <h4 class="product-sidebar-title">Category</h4>
              <div class="product-sidebar-body">
                <div class="product-sidebar-nav-menu">
                  {% for category in categories %}
                  <a href="{% url 'categories' %}/{{category.catSlug}}"
                    >{{category.catName}}</a
                  >
                  {% endfor %}
                </div>
              </div>
            </div>
            <!--== End Sidebar Item ==-->
          </div>
          <!--== End Product Sidebar Wrapper ==-->
        </div>
      </div>
    </div>
  </section>
  <!--== End Product Area Wrapper ==-->
</main>
{% include 'includes/footer.html' %} {% endblock content %}
